      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    font-family: Roboto, sans-serif;

}

/* START: HEADER SECTION W/ NAV */

header {
    
    background-color: #1F2937;
    color: #F9FaF8;
    padding: 0 100px;
}
header.h1 {
    font-size: 48px;
    font-weight: 900;
}
.logo {
    font-family: 'Rubik Bubbles';
    font-size: 25px;
}

nav {
    padding-top: 10px;
    justify-content: space-between;
}

ul {
    gap: 15px;
}

nav, ul {
    display: flex;
    flex-direction: row ;
    
}

ul, .hero-text > p {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;

}

.hero-text > button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    padding: 3px 15px;
    font-family: Roboto, sans-serif;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 10px;
    
}

.hero-image img {
    width: 100%;
    max-width: 500px ;
    height: auto;
}

.hero-image, .hero-text {
    flex: 1;
}

/* END: HEADER SECTION W/ NAV */


/* START: MAIN CONTENT AREA  */


/* INFO SECTION  */

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.links-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;

    

}

.links {
    font-size: 10px;
    text-align: center;
    max-width: 150px;
    
}
.links img {
    width: 100%;
    display: block;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

/* The next two styles are for the text overlay on the link images */

.links a {
    position: relative;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* QUOTE SECTION */

